/* styling for whole pages */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-image: url(./textile-bg.jpg);
    background-size: contain;
    background-attachment: fixed;
}
/* styling for supplier-detail section  */
#supplier-details,#transaction-details{
    width:80%;
margin:50px auto;
    padding:10px;
    background-color: #FFB534;
  
}
#supplier-details{
    animation:movement1 1s;
}
#transaction-details{
    animation:movement2 1s;
}

section h2{
    padding:20px;
}
section a{
    text-decoration: none;
    font-weight: 600;
    color:#5F0F40;
}

.container{
    display:flex;
    flex-flow: row wrap;
    align-content: center;  
    margin:5px 20px;
    gap:50px;
}

.container div{
    flex-basis: 30%;
}

.container div label,.container div input,.container div textarea{
    display:block;
    width:80%;
}
.container div label{
   color:#5F0F40;
   font-size: 20px;
   font-weight: 600;
   margin-bottom:5px;
   animation:movement3 1s 1s backwards;
}

.container div input{
    height:40px;
    padding:10px;
    font-size: 20px;
    animation:movement3 1s 0.5s backwards;
}
.container div textarea{
    height:80px;
    font-size: 20px;
    padding:10px;
    resize:none;
    animation:movement3 1s 0.5s backwards;
}

.container+button{
    width:100px;
    height:50px;
    border: none;
    border-radius: 20px;
    margin:5px 20px 10px 80%;
    cursor:pointer;
    animation:movement3 1s 0.5s backwards;
}
@keyframes movement1 {
    from{transform:translateX(100px);opacity:0}
    to{transform:translateX(0);opacity:1}
}
@keyframes movement2 {
    from{transform:translateX(-100px);opacity:0}
    to{transform:translateX(0);opacity:1}
}
@keyframes movement3 {
    from{transform:translateY(30px);opacity:0}
    to{transform:translateY(0);opacity:1}
}

/* TRANSACTION SECTION DETAILS  */

.grid-container{
    padding:10px 20px;
    display:grid;
    grid-template-columns: 45% 15% 15% 25%;
    grid-template-rows: repeat(6,35px); /* currently 6 rows added, if you want to add more rows to the table increase the number in REPEAT function */
    text-align: center;
   
}
.grid-container div:nth-child(1),.grid-container div:nth-child(2),.grid-container div:nth-child(3),.grid-container div:nth-child(4){
    font-weight: 600;
    text-transform: uppercase;
    color:#fff;
    background-color: #5F0F40;
}
.grid-container div{
    border:1px solid ;
    border-width: 0 0 1px 0;
    font-size: 20px;
    padding-top:4px;
    box-shadow: 3px 3px 5px #81689D;
}

/* responsiveness for mobile  */

@media (max-width:400px){
    body{
        text-align: center;
    }
    .container{
        flex-flow: column nowrap;
        gap:5px;
    }
    .container div{
        width:100%;
    }
    
.container div label,.container div input,.container div textarea{
  margin:0 auto;
    width:80%;
}
    .container+button{
        margin:10px 30%;
    }
    .grid-container{
        padding:0;
        margin-top:20px;
    }
    .grid-container div{
        font-size: 15px;
    }
}